<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso em video</title>
    <link rel="stylesheet" href="estilo/style.css">

</head>

<body>
    <main>
        <header>
            <h1>Cursos Gratís</h1>
        <article>
            <h2>Curso de HTML5 com CSS3 </h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa natus fugit recusandae sint enim libero laboriosam exercitationem, non eum accusantium voluptatem corrupti pariatur animi aspernatur cumque quos sit, reprehenderit saepe!</p>
        </article>
        <article>
            <h2>Curso de Javascript</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit corrupti fugit facere reiciendis optio saepe iure doloribus totam veniam, nesciunt, porro alias laborum quaerat eum provident libero dolore atque officiis?</p>
        </article>
        
        </header>
    </main>
</body>
</html>